<!doctype html>
<html lang="en">
  <head>
    <title>mbaraa.xyz</title>
    <link rel="icon" href="/res/images/logo.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes"
    />
    <meta
      name="description"
      content="I Put My Deployment In A Bag Of Doritos"
    />
    <meta name="keywords" content="deployment,doritos,ci,cd,something" />
  </head>
  <body
    style='
      background-image: url("{{ .BGLink }}"), linear-gradient(to right, red , yellow);
      background-repeat: repeat;
      background-size: cover;
      padding: 0px;
      margin: 0px;
      background-position: center;
      background-attachment: fixed;
    '
  >
    <main style="min-height: 100dvh">
      <div style="display: flex; align-items: center; gap: 10px">
        <img
          src="/res/images/logo.png"
          style="width: 50px; height: 50px"
          alt="Logo"
        />
        <h1>
          <span
            style="background-color: yellow; color: black; width: fit-content"
            >mbaraa.xyz</span
          >
          <span
            style="background-color: yellow; color: black; width: fit-content"
            >(my public deployments, using this domain makes more sense than
            slapping everything under mbaraa.com)</span
          >
        </h1>
      </div>
      <p
        style="
          background-image: linear-gradient(to right, blue, brown);
          width: fit-content;
          font-size: 20px;
          color: white;
        "
      >
        Deploy your web applications into mbaraa.xyz, idk, if you have a small
        application to deploy email me at:
        <a href="mailto:pub@mbaraa.com">pub@mbaraa.com</a>!
      </p>

      <h2 style="color: yellow; background-color: black; width: fit-content">
        Current Deployments:
      </h2>
      <ul
        style="
          background-image: linear-gradient(to right, orange, green, pink);
          width: fit-content;
        "
      >
        {{ range .Deployments }}
        <li style="color: white">
          <a href="{{.Link}}">{{ .Title }}</a>
          {{ .Description }}
        </li>
        {{ end }}
      </ul>
    </main>
    <footer
      style="
        min-height: 200px;
        background-image: linear-gradient(to right, red, green);
        display: flex;
        justify-content: center;
        color: orange;
        padding: 30px;
        font-size: 20px;
      "
    >
      What you guys are referring to as Linux, is in fact, GNU/Linux, or as I've
      recently taken to calling it, GNU plus Linux. Linux is not an operating
      system unto itself, but rather another free component of a fully
      functioning GNU system made useful by the GNU corelibs, shell utilities
      and vital system components comprising a full OS as defined by POSIX. Many
      computer users run a modified version of the GNU system every day, without
      realizing it. Through a peculiar turn of events, the version of GNU which
      is widely used today is often called "Linux", and many of its users are
      not aware that it is basically the GNU system, developed by the GNU
      Project. There really is a Linux, and these people are using it, but it is
      just a part of the system they use. Linux is the kernel: the program in
      the system that allocates the machine's resources to the other programs
      that you run. The kernel is an essential part of an operating system, but
      useless by itself; it can only function in the context of a complete
      operating system. Linux is normally used in combination with the GNU
      operating system: the whole system is basically GNU with Linux added, or
      GNU/Linux. All the so-called "Linux" distributions are really
      distributions of GNU/Linux.
    </footer>
  </body>
</html>
